.menuWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.startMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 70vh;
    margin: auto;
    width: 500px;
    background: var(--menuBg);
    border-radius: 5px 5px;
    row-gap: 5rem;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.startMenu.hide{
    opacity: 0;
    transform: scale(1.05);
    pointer-events: none;
}
.buttonHolder{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
button{
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px 3px;
    color: var(--text);
    background: var(--menuBg);
}
button:active{
    box-shadow: 
    inset -1px -1px 0 #000000,
    inset 1px 1px 0 #000000;
}
button:hover{
box-shadow: 
inset -1px -1px 0 #ccccaa,
inset 1px 1px 0 #ccccaa;
}
.quizScreen{
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: auto;
    width: 800px;
    background: var(--menuBg);
    border-radius: 15px 15px;
    row-gap: 5rem;
    font-size: 20px;
