@media(prefers-color-scheme: dark){
    :root{
        --bg: linear-gradient(90deg, #05050a 0.000%, #05050a 7.692%, #090a0e calc(7.692% + 1px), #090a0e 15.385%, #0d0e12 calc(15.385% + 1px), #0d0e12 23.077%, #121316 calc(23.077% + 1px), #121316 30.769%, #16171a calc(30.769% + 1px), #16171a 38.462%, #1a1b1e calc(38.462% + 1px), #1a1b1e 46.154%, #1e1f22 calc(46.154% + 1px), #1e1f22 53.846%, #222326 calc(53.846% + 1px), #222326 61.538%, #26272a calc(61.538% + 1px), #26272a 69.231%, #292a2d calc(69.231% + 1px), #292a2d 76.923%, #2c2d30 calc(76.923% + 1px), #2c2d30 84.615%, #2e2f33 calc(84.615% + 1px), #2e2f33 92.308%, #303135 calc(92.308% + 1px) 100.000%);
        --menuBg: transparent;
        --text: #eeeeee; 
        --text: #eeeeee;
          
        
}
    }
    @media(prefers-color-scheme: light){
        :root{
            --bg: linear-gradient(90deg, #c8d5c8 0.000%, #c8d5c8 2.941%, #d0d3bd calc(2.941% + 1px), #d0d3bd 5.882%, #d4ceaf calc(5.882% + 1px), #d4ceaf 8.824%, #d5c59e calc(8.824% + 1px), #d5c59e 11.765%, #d2b88c calc(11.765% + 1px), #d2b88c 14.706%, #cbaa79 calc(14.706% + 1px), #cbaa79 17.647%, #c19865 calc(17.647% + 1px), #c19865 20.588%, #b48651 calc(20.588% + 1px), #b48651 23.529%, #a5723f calc(23.529% + 1px), #a5723f 26.471%, #935f2e calc(26.471% + 1px), #935f2e 29.412%, #804b20 calc(29.412% + 1px), #804b20 32.353%, #6c3914 calc(32.353% + 1px), #6c3914 35.294%, #59290b calc(35.294% + 1px), #59290b 38.235%, #461c06 calc(38.235% + 1px), #461c06 41.176%, #341105 calc(41.176% + 1px), #341105 44.118%, #250908 calc(44.118% + 1px), #250908 47.059%, #18060e calc(47.059% + 1px), #18060e 50.000%, #0e0617 calc(50.000% + 1px), #0e0617 52.941%, #080924 calc(52.941% + 1px), #080924 55.882%, #051033 calc(55.882% + 1px), #051033 58.824%, #061b45 calc(58.824% + 1px), #061b45 61.765%, #0b2958 calc(61.765% + 1px), #0b2958 64.706%, #13396b calc(64.706% + 1px), #13396b 67.647%, #1f4b7f calc(67.647% + 1px), #1f4b7f 70.588%, #2d5e92 calc(70.588% + 1px), #2d5e92 73.529%, #3e72a4 calc(73.529% + 1px), #3e72a4 76.471%, #5085b3 calc(76.471% + 1px), #5085b3 79.412%, #6498c1 calc(79.412% + 1px), #6498c1 82.353%, #77a9cb calc(82.353% + 1px), #77a9cb 85.294%, #8bb8d2 calc(85.294% + 1px), #8bb8d2 88.235%, #9dc4d5 calc(88.235% + 1px), #9dc4d5 91.176%, #aecdd4 calc(91.176% + 1px), #aecdd4 94.118%, #bcd3d0 calc(94.118% + 1px), #bcd3d0 97.059%, #c7d5c8 calc(97.059% + 1px) 100.000%);
            --menuBg: transparent;
            --text: #eeeeee;
        }
    }
    
body{
    background: var(--bg);
    font-family: sans-serif;
    font-weight: bold;
}
    
header{
    text-align: center;
    color: var(--text);
    margin: 0;

}
.menuWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
select,label, .questionText{
    font-weight: bold;
    color: var(--text);
    background: var(--menuBg);
    font-size: 15px ;
}
select:hover{
    box-shadow: 
inset -1px -1px 0 #ccccaa,
inset 1px 1px 0 #ccccaa;
}
.categoryHolder{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-top: 15px;
}
.startMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 70vh;
    margin: auto;
    width: 500px;
    background: var(--menuBg);
    border-radius: 5px 5px;
    row-gap: 5rem;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.startMenu.hide{
    opacity: 0;
    transform: scale(1.05);
    pointer-events: none;
}
.buttonHolder{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
button{
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px 3px;
    color: var(--text);
    background: var(--menuBg);
}
button:active{
    box-shadow: 
    inset -1px -1px 0 #000000,
    inset 1px 1px 0 #000000;
}
button:hover{
box-shadow: 
inset -1px -1px 0 #ccccaa,
inset 1px 1px 0 #ccccaa;
}
.restartBtn{
    display: none;
    
}
.restartBtn.show{
    display: block;
    pointer-events: auto;
}
.quizScreen{
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: auto;
    width: 800px;
    background: var(--menuBg);
    border-radius: 15px 15px;
    row-gap: 5rem;
    font-size: 20px;
    pointer-events: none;
    transform: scale(0.85);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
}
 .quizScreen.show{
     opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.settingScreen{
    position: absolute;
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin: auto;
    width: 500px;
    background: var(--menuBg);
    border-radius: 15px 15px;
    row-gap: 3rem;
    font-size: 20px;
    pointer-events: none;
    transform: scale(0.85);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
}
.settingScreen.show{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.error404{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f5f5f5;
    text-align: center;
}
@media(max-width:800px){
    body{
        font-size: 10px;
        display: block;
    }
    header{
        font-size: 10px;

    }
    .quizScreen{
        row-gap: 3rem;
    }
    
}

