@media(prefers-color-scheme: dark){
    :root{
        --bg: linear-gradient(90deg, #05050a 0.000%, #05050a 7.692%, #090a0e calc(7.692% + 1px), #090a0e 15.385%, #0d0e12 calc(15.385% + 1px), #0d0e12 23.077%, #121316 calc(23.077% + 1px), #121316 30.769%, #16171a calc(30.769% + 1px), #16171a 38.462%, #1a1b1e calc(38.462% + 1px), #1a1b1e 46.154%, #1e1f22 calc(46.154% + 1px), #1e1f22 53.846%, #222326 calc(53.846% + 1px), #222326 61.538%, #26272a calc(61.538% + 1px), #26272a 69.231%, #292a2d calc(69.231% + 1px), #292a2d 76.923%, #2c2d30 calc(76.923% + 1px), #2c2d30 84.615%, #2e2f33 calc(84.615% + 1px), #2e2f33 92.308%, #303135 calc(92.308% + 1px) 100.000%);
        --menuBg: #fbfbfb;
        --text: #242424;
          
        
}
    }
    @media(prefers-color-scheme: light){
        :root{
            --bg: linear-gradient(90deg, #c8d5c8 0.000%, #c8d5c8 2.941%, #d0d3bd calc(2.941% + 1px), #d0d3bd 5.882%, #d4ceaf calc(5.882% + 1px), #d4ceaf 8.824%, #d5c59e calc(8.824% + 1px), #d5c59e 11.765%, #d2b88c calc(11.765% + 1px), #d2b88c 14.706%, #cbaa79 calc(14.706% + 1px), #cbaa79 17.647%, #c19865 calc(17.647% + 1px), #c19865 20.588%, #b48651 calc(20.588% + 1px), #b48651 23.529%, #a5723f calc(23.529% + 1px), #a5723f 26.471%, #935f2e calc(26.471% + 1px), #935f2e 29.412%, #804b20 calc(29.412% + 1px), #804b20 32.353%, #6c3914 calc(32.353% + 1px), #6c3914 35.294%, #59290b calc(35.294% + 1px), #59290b 38.235%, #461c06 calc(38.235% + 1px), #461c06 41.176%, #341105 calc(41.176% + 1px), #341105 44.118%, #250908 calc(44.118% + 1px), #250908 47.059%, #18060e calc(47.059% + 1px), #18060e 50.000%, #0e0617 calc(50.000% + 1px), #0e0617 52.941%, #080924 calc(52.941% + 1px), #080924 55.882%, #051033 calc(55.882% + 1px), #051033 58.824%, #061b45 calc(58.824% + 1px), #061b45 61.765%, #0b2958 calc(61.765% + 1px), #0b2958 64.706%, #13396b calc(64.706% + 1px), #13396b 67.647%, #1f4b7f calc(67.647% + 1px), #1f4b7f 70.588%, #2d5e92 calc(70.588% + 1px), #2d5e92 73.529%, #3e72a4 calc(73.529% + 1px), #3e72a4 76.471%, #5085b3 calc(76.471% + 1px), #5085b3 79.412%, #6498c1 calc(79.412% + 1px), #6498c1 82.353%, #77a9cb calc(82.353% + 1px), #77a9cb 85.294%, #8bb8d2 calc(85.294% + 1px), #8bb8d2 88.235%, #9dc4d5 calc(88.235% + 1px), #9dc4d5 91.176%, #aecdd4 calc(91.176% + 1px), #aecdd4 94.118%, #bcd3d0 calc(94.118% + 1px), #bcd3d0 97.059%, #c7d5c8 calc(97.059% + 1px) 100.000%);
            --menuBg: #fbfbfb;
            --text: #242424;
        }
    }
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    background: var(--bg);
}
.contentContainer{
    width: 100%;
    max-width: 500px;
    height: 400px;
    color: var(--text);
    background-color: var(--menuBg);
    display: grid;
    justify-items: center;
    border-radius: 10px;
}
#login-error-holder{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
#login-error-msg{
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
    transition: opacity 0.3s ease;
}
#error-msg-second-line{
    display: block;
}
#login-form{
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.login-form-field{
    border:none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
}
#login-form-submit{
    width: 100%;
    padding: 7px;
    border:none;
    color: var(--menuBg);
    background-color: var(--text);
    cursor: pointer;
    outline: none;
}
#login-form-submit:hover{
    background-color: #303135 ;
}
.formBtn{
    border-radius: 5px;
    padding: 7px;
    border:none;
    color: var(--text);
    background-color: transparent;
    cursor: pointer;
    outline: none; 
}
.formBtn:hover{
    background-color: #bfbfbf;
}
.userHolder{
    column-gap: 3rem; 
}
.inputRow{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.inputRow label{
    width: 140px;
}
.inputRow input{
    flex: 1;
}

    @media(max-width:800px){
    html,body{
        font-size: 10px;
        background-repeat: no-repeat ;
        overflow-x: hidden;
    }
    body{
        height: 100vh;
    }
    header{
        font-size: 10px;
    }
    .contentContainer{
        flex-direction: column;
        max-width: 200px;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
        height: auto;
    }
    #login-form{
        margin: auto; 
    }
    #login-error-holder{
        
        height: auto;
    }
    #login-error-msg{
        font-size: 10px;
    }
    .userHolder{
        margin:auto;
    }
    .inputRow label{
    width: 70px;
}
.inputRow input{
    width: 100px;
    flex: 1;
}
   
}
