.menuWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.startMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 70vh;
    margin: auto;
    width: 500px;
    background: var(--menuBg);
    border-radius: 5px 5px;
    row-gap: 5rem;
.quizScreen{
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: auto;
    width: 800px;
    background: var(--menuBg);
    border-radius: 15px 15px;
    row-gap: 5rem;
    font-size: 20px;
